<h2 class="text-3xl font-medium">please enter your verification code</h2>

@if (step == 1) {
<form [formGroup]="verifyEmail" (ngSubmit)="veriyfyEmailSubmit()">
  <div class="my-2">
    <label for="Email" class="block mb-2 text-lg">Email :</label>
    <input
      formControlName="email"
      type="email"
      id="Email"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
    />
    @if (verifyEmail.get('email')?.touched && verifyEmail.get('email')?.errors)
    {
    <div
      class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50"
      role="alert"
    >
      <svg
        class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        viewBox="0 0 20 20"
      >
        <path
          d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
        />
      </svg>
      <span class="sr-only">Danger</span>
      <div>
        <ul class="mt-1.5 list-disc list-inside">
          @if (verifyEmail.get('email')?.getError('required')) {
          <li>Email is required</li>
          } @else if (verifyEmail.get('email')?.getError('email')) {
          <li>Enter Valid email</li>
          }
        </ul>
      </div>
    </div>
    }
  </div>
  <button [disabled]="verifyEmail.invalid" class="btn-main">verfy</button>
</form>
} @else if (step == 2) {
<form [formGroup]="verifycode" (ngSubmit)="veriyfyCodeSubmit()">
  <div class="my-2">
    <label for="resetCode" class="block mb-2 text-lg">resetCode :</label>
    <input
      formControlName="resetCode"
      type="text"
      id="resetCode"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
    />
    @if (verifycode.get('resetCode')?.touched &&
    verifycode.get('resetCode')?.errors) {
    <div
      class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50"
      role="alert"
    >
      <svg
        class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        viewBox="0 0 20 20"
      >
        <path
          d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
        />
      </svg>
      <span class="sr-only">Danger</span>
      <div>
        <ul class="mt-1.5 list-disc list-inside">
          @if (verifycode.get('resetCode')?.getError('required')) {
          <li>resetCode is required</li>
          } @else if (verifycode.get('resetCode')?.getError('pattern')) {
          <li>
            resetCode must start with upperCase then from 6 to more any chars
          </li>
          }
        </ul>
      </div>
    </div>
    }
  </div>
  <button [disabled]="verifycode.invalid" class="btn-main">verfy</button>
</form>
} @else if (step == 3) {
<form [formGroup]="resetPassword" (ngSubmit)="resetPasswordSubmit()">
  <div class="my-2">
    <label for="Email" class="block mb-2 text-lg">Email :</label>
    <input
      readonly
      formControlName="email"
      type="email"
      id="Email"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
    />
    @if (resetPassword.get('email')?.errors &&
    resetPassword.get('email')?.touched) {
    <div
      class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
      role="alert"
    >
      <svg
        class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        viewBox="0 0 20 20"
      >
        <path
          d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
        />
      </svg>
      <span class="sr-only">Danger</span>
      <div>
        <ul class="mt-1.5 list-disc list-inside">
          @if (resetPassword.get('email')?.getError('required')) {
          <li>email is required</li>
          } @else if (resetPassword.get('email')?.getError('email')) {
          <li>Enter Valid email</li>
          }
        </ul>
      </div>
    </div>
    }
  </div>
  <div class="mb-6">
    <label for="newPassword" class="block mb-2 text-lg">new-password :</label>
    <input
      formControlName="newPassword"
      type="password"
      id="newPassword"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
    />
    @if (resetPassword.get('newPassword')?.errors &&
    resetPassword.get('newPassword')?.touched) {
    <div
      class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
      role="alert"
    >
      <svg
        class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        viewBox="0 0 20 20"
      >
        <path
          d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
        />
      </svg>
      <span class="sr-only">Danger</span>
      <div>
        <ul class="mt-1.5 list-disc list-inside">
          @if (resetPassword.get('newPassword')?.getError('newPassword')) {
          <li>newPassword is required</li>
          } @else if (resetPassword.get('newpassword')?.getError('pattern')) {
          <li>
            newPassword must start with upperCase then from 6 to more any chars
          </li>
          }
        </ul>
      </div>
    </div>
    }
  </div>

  <button [disabled]="verifycode.invalid" class="btn-main">
    reset password
  </button>
</form>
}
